.carta {
    background-color:rgba(75, 0, 130, .8);
    padding: 2em;
    display: inline-block;
    margin: 1em;
    color: white;
    font-family: firstFont;
    border: solid crimson 1px;
}

.dentro {
    display: inline-block;
}

p {
    padding: 1em;
    margin: 1em;
}

.carta button {
    float: right;
    background-color: #ED2F32;
    border-radius: 10%;
    color: white;
    opacity: .9;
}

img{
    background-color:rgba(75, 0, 130, .5);
    border: solid crimson 1px;
    position: relative;
    bottom: 2em;
}